main-div{
    height: 100vh
}

html{
    overflow: hidden;
}

body {
    /* background-color: rgb(39, 44, 67); */
    display: flex;
    flex-direction: column;
}

#name {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid rgb(245, 128, 128);
    padding: 0px 5px;
    font-size: 1.5rem;

    z-index: 100;



}




svg path {
    cursor: pointer;
}


.toponym-item {
    text-decoration: underline;
}

.toponym-item:hover {
    color: blue;
    cursor: pointer;
}


#toponym-list {
    background-color: white;
    border: 3px solid rgb(245, 128, 128);
    width: fit-content;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
}



#page-body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; Add overflow hidden to prevent horizontal scrolling */
  }
  
  .svg-container {
    max-width: 80%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
    margin: auto;
  }
  
  /* Adjust the SVG height if needed */
  .svg-container svg {
    max-width: 80%;
    height: auto; /* Maintain the aspect ratio */
  }
  
#toponym-list{
    position: absolute;
    top: 300px;
}




body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; Optional: Hide overflow content if needed */
  }




